In [2]:
import pandas as pd

In [21]:
data=pd.read_csv("diabetes.csv")

In [22]:
data.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,2,138,62,35,0,33.6,0.127,47,1
1,0,84,82,31,125,38.2,0.233,23,0
2,0,145,0,0,0,44.2,0.630,31,1
3,0,135,68,42,250,42.3,0.365,24,1
4,1,139,62,41,480,40.7,0.536,21,0
5,0,173,78,32,265,46.5,1.159,58,0
6,4,99,72,17,0,25.6,0.294,28,0
7,8,194,80,0,0,26.1,0.551,67,0
8,2,83,65,28,66,36.8,0.629,24,0
9,2,89,90,30,0,33.5,0.292,42,0

In [23]:
df=data.copy()

In [24]:
df=df.drop(["Pregnancies","DiabetesPedigreeFunction"], axis=1)

In [25]:
df.head(10)

   Glucose  BloodPressure  SkinThickness  Insulin   BMI  Age  Outcome
0      138             62             35        0  33.6   47        1
1       84             82             31      125  38.2   23        0
2      145              0              0        0  44.2   31        1
3      135             68             42      250  42.3   24        1
4      139             62             41      480  40.7   21        0
5      173             78             32      265  46.5   58        0
6       99             72             17        0  25.6   28        0
7      194             80              0        0  26.1   67        0
8       83             65             28       66  36.8   24        0
9       89             90             30        0  33.5   42        0

In [26]:
#Using Variable Baru


# Separating X and y
X = df.drop(['Outcome'], axis=1)
Y = df['Outcome']

# Build random forest model
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf.fit(X, Y)

# Saving the model
import pickle
pickle.dump(clf, open('diabetes_clf.pkl', 'wb'))

In [27]:
df.describe()

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Age,Outcome
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,121.182500,69.145500,20.935000,80.254000,32.193000,33.090500,0.342000
std,32.068636,19.188315,16.103243,111.180534,8.149901,11.786423,0.474498
min,0.000000,0.000000,0.000000,0.000000,0.000000,21.000000,0.000000
25%,99.000000,63.500000,0.000000,0.000000,27.375000,24.000000,0.000000
50%,117.000000,72.000000,23.000000,40.000000,32.300000,29.000000,0.000000
75%,141.000000,80.000000,32.000000,130.000000,36.800000,40.000000,1.000000
max,199.000000,122.000000,110.000000,744.000000,80.600000,81.000000,1.000000